body {
    margin: 0;
    background-color: #0b0b0b;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.hero {
    background: linear-gradient(to bottom, black, darkred);
    padding: 60px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 60px;
    letter-spacing: 4px;
    color: crimson;
}

.hero p {
    font-size: 20px;
    color: #ddd;
}

/* Menu */
nav {
    background-color: #111;
    padding: 15px;
    text-align: center;
}

nav a {
    color: crimson;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: white;
}

/* Sections */
section {
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    background-color: #1a1a1a;
    border-radius: 12px;
    box-shadow: 0 0 20px black;
    line-height: 1.7;
}

h2 {
    color: crimson;
    font-size: 32px;
}

/* Listes */
ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    font-size: 18px;
}

/* Footer */
footer {
    background-color: darkred;
    padding: 15px;
    text-align: center;
}